
.title {
    text-align: center;

    color: #eeff53 !important;

    margin-top: 0px;
    font-size: 25px;
}

#i {
    image-rendering: pixelated;
    height: 154px;

    margin-left: calc(50% - 64px);

    margin-top: 10px;
    margin-bottom: 10px;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.social-btn {
    img {
        image-rendering: pixelated;
        width: 32px;
    }
}