@keyframes pia-title-swing {
    0% {
        color: #FF002B;
    }

    100% {
        color: #ff2a00;
    }
}

li button {
    color: #c073ff;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: "nj";
    font-size: 15px;
}

li button:hover {
    color: #ff8a73;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;

    animation: pia-title-swing 2s ease-in-out alternate infinite;
}

#cover-container {
    position: relative;
    min-width: 100%;
    min-height: 160px;
    margin-bottom: 30px;
    pointer-events: none;
}

#cover-container>img {
    image-rendering: pixelated;
    height: 128px;
    margin-top: 40px;
    z-index: 2;

    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@property --t {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}

@keyframes sky-swing {
    to {
        --t: 6.2831;
    }
}

#sky {
    --t: 0;
    position: absolute;
    image-rendering: pixelated;
    background-image: url("./img/meat-sky-mask.gif");
    min-width: 100%;
    min-height: 48px;
    background-size: contain;

    animation: sky-swing 1s linear infinite;

    transform: translateY(calc(sin(var(--t)) * 10px + 80px)) scale(2) skewY(calc(cos(var(--t)) * 1deg));

    z-index: 0;
}

@keyframes pearl-swing {
    from {
        z-index: 5;
    }
    to {
        --t: 1.0;
        z-index: 1;
    }
}

.pearl {
    --t: 0;

    position: absolute;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;

    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: contain;

    left: 50%;
    top: 50%;
    
    animation: pearl-swing 2s linear infinite;

    transform: 
        translateY( calc( sin( var(--t) * 360deg ) * 30px - 10px + 10px * sin( var(--t) * 360deg * 3 ) ) )
        translateX( calc( -50% + cos( var(--t) * 360deg ) * 90px ) )
        scale(0.75)
    ;
}

.green-pearl {
    background-image: url("./img/green-pearl.png");
    animation-delay: 0s;
}

.red-pearl {
    background-image: url("./img/red-pearl.png");
    animation-delay: 0.3s;
}

.blue-pearl {
    background-image: url("./img/blue-pearl.png");
    animation-delay: 0.6s;
}