#img-pix-grid-1 {

    height: 136px;
    width: 224px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
        position: absolute;
        width: 96px;
    }

    .i2 {
        left: 64px;
        top: 40px;
        z-index: 1;
    }

    .i3 {
        left: 128px;
    }
}